.header{
    background-color: $primary-bg-color;
    color: $primary-text-color;
    height: 95vh;
    position: relative;

    @supports (clip-path: polygon(0 0)) or(-webkit-clip-path: polygon(0 0)){
		height: 85vh;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);

        @media only screen and (max-width:$bp-largest){
            clip-path: none;
            height: auto;
            margin-bottom: 5rem;
        }
	}
}

.intro-container{
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
    .intro{
        max-width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        @media only screen and (max-width:$bp-large){
            justify-content: center;
            max-width: 90%;
        }

        @media only screen and (max-width:$bp-medium){
            justify-content: center;
            max-width: 60%;
        }
        

        &__greet{
            @extend %header;
            
            .Hi{
                font-size: $fontSize-primary-header;
                animation: mainFadeIn 2s forwards;
                animation-delay: 1s;
                opacity: 0;
                display: flex;
                align-items: baseline;
                text-shadow: 4px 4px $tertiary-text-color;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #000;
                -webkit-text-fill-color: #fde6ff;
                color: transparent;
                letter-spacing: 6px;

                @media only screen and (max-width:$bp-large){
                    font-size: 8.6rem;
                }
                @media only screen and (max-width:$bp-medium){
                    font-size: 7.6rem;
                }
                @media only screen and (max-width:$bp-small){
                    font-size: 7rem;
                }
            }
        }

        &__name{
            @extend %header;

            .block{
                width: 0;
                height: inherit;
                position: absolute;
                display: flex;
                background-color:$tertiary-text-color;
                animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
                animation-delay: 2s;
                margin-top: 5rem;
            }

            .name{
                font-size: $fontSize-secondary-header;
                animation: secFadeIn 2s forwards;
                animation-delay: 3.2s;
                opacity: 0;
                display: flex;
                margin-top: 5rem;
                align-items: baseline;
                position: relative;

                @media only screen and (max-width:$bp-large){
                    font-size: 2.5rem;
                }
                @media only screen and (max-width:$bp-medium){
                    font-size: 2.2rem;
                }
                @media only screen and (max-width:$bp-small){
                    font-size: 1.8rem;
                }

                span{
                    width: 0;
                    height: 0;
                    border-radius: 50%;
                    animation: circle 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation-delay: 4s;
                    position: absolute;
                    bottom: 3rem;
                    right: -1.2rem;
                }
            }
        }

        &__detail{
            margin-top: 5rem;
            overflow:hidden;
            @extend %header;
            
            .detail1{
                @extend %details;
                animation: showup 5s forwards;
                animation-delay: 5s;
                opacity: 0;
                margin-right: .5rem;
                display: inline-block;
            }

            .detail2{
                @extend %details;
                width: 0;
                animation: reveal 5s forwards;
                animation-delay: 5s;
                display: inline-block;

                @media only screen and (max-width:$bp-medium){
                    display: none;
                }


                span{
                    animation: slidein 5s forwards;
                    margin-left: -20rem;
                    white-space:nowrap;
                    animation-delay: 5s;
                }
            }
        }

        .btn-primary{
            font-size:$fontSize-text;
            text-transform: uppercase;
            text-decoration: none;
            margin-left: .3rem;
            margin-top: 4rem;
            padding: 1.5rem;
            border-radius: 1rem;
            width: 15rem;
            cursor: pointer;
            outline: 0;
            animation: mainFadeIn 2s forwards;
            animation-delay: 6.5s;
            opacity: 0;
            background-color: $tertiary-text-color;
            color:#030303;
            border: none;
            align-self: flex-start;
            transition: all .2s;

            @media only screen and (max-width:$bp-large){
                font-size: 1.5rem;
                width: 12rem;
                border-radius: .5rem;
            }

            @media only screen and (max-width:$bp-small){
                font-size: 1.3rem;
                width: 10rem;
                padding: 1rem;
            }
        }

        .btn-primary:hover{
            transform: translateY(1rem);
        }
    }
}




